html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,

.clear {
    clear: both;
}

body {
    text-align: center;
}

h1 {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 100%;
}

h1 span,
h4 span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 0.1em;
    float: left;
    text-align: left;
}

p header {
    position: absolute;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    top: 60%;
    color: white;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #FFAFE3;
    font-size: 1em;
    text-align: center;
    font-weight: 800;
    margin: 0.75em;


}

h3 {
    font-family: 'Montserrat';
    color: white;
    font-size: 3.25em;
    text-align: center;
    padding-top: 1em;
    margin-bottom: 0.2em;
}

h4 {
    position: relative;
    top: 150px;
    left: 10px;
    width: 100%;
}

h5{
       font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #FFAFE3;
    font-size: 1em;
    text-align: center;
    font-weight: 800;
    margin: 0.75em;
}

a {
    color: #FFAFE3;
}

header {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.hero-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
}

#wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1088px;
    padding-right: 50px;
    padding-left: 50px;
    background: white;
}

ol,
ul {
    list-style: none;
}

nav {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    float: right;
    display: flex;

}

nav ul li {
    list-style: none;
    float: left;
    margin-left: 6vw;
    margin-right: 20px;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 100px;
    color: #FFAFE3;
    text-decoration: none;
    text-transform: uppercase;
}


slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFAFE3;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #FFAFE3;
    animation: slide 8s infinite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: 1s;
    background-image: linear-gradient(to right, transparent, #CC0085), url("../img/header1.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 3s;
    background-image: linear-gradient(to right, transparent, #CC0085), url("../img/header2.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: linear-gradient(to right, transparent, #CC0085), url("../img/header3.jpg");
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    animation-delay: 7s;
    background-image: linear-gradient(to right, transparent, #CC0085), url("../img/header4.jpg");
    background-size: cover;
    background-position: center;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }

    5% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
        width: 100%;
    }

    30.0001% {
        left: -100%;
        width: 0%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

.active {
    background-color: #717171;
}

.header2 {
    display: block;
    width: 100%;
    height: 400px;
    background-color: #FFAFE3;
}


.portfolio {
    margin-top: 100px;
}

.container2 h2 {
    margin-top: 100px;
    font-size: 3em;
    text-align: center;
    display: none;
}

.player-btn {
    height: 5vw;
    width: 5vw;
    font-size: 1.5vw;
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 5vw;
    position: absolute;
    top: 750px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #FFAFE3;
}



#rewind {
    height: 4vw;
    width: 4vw;
    font-size: 1.25vw;
    background: white;
    border-radius: 50%;
    border: none;
    text-align: center;
    line-height: 4vw;
    position: absolute;
    top: 750px;
    left: 44%;
    transform: translate(-50%, -44%);
    background-color: white;
    color: #FFAFE3;
}


.container {
    width: 100%;
    height: 600px;
    padding-top: 75px;
    margin: 0 auto;
}

.container2 h2{
    width: 100%;
    height: 600px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.rect {
    width: 31%;
    height: 50%;
    float: left;
    margin: 1%;

}

.image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    transition: .5s ease;
}

.text {
    position: relative;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2em;
    color: #0076FF;
    margin-top: -250px;
    visibility: hidden;
}

.text2 {
    position: relative;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2em;
    color: #0076FF;
    margin-top: -250px;
    visibility: hidden;
}

.hashtag {
    position: relative;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1em;
    padding: 0.2em;
    float: left;
    text-align: left;
    color: white;
    line-height: 1em;
    background: #FFAFE3;
    border-radius: 1%;
    margin-top: 120px;
    margin-left: 10px;
    visibility: hidden;
}

.image:hover {
    opacity: 0.3;
}

.rect:hover .text {
    visibility: visible;
}

.rect:hover .text2 {
    visibility: visible;
}

.rect:hover .hashtag {
    visibility: visible;
}


button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
}

.second {
    display: none;
}

.link-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #0076FF;
    border: none;
    color: #FFAFE3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 50px;
}


.slider-speed,
.slider-color,
.slider-background {
    margin-left: 33em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 15em;
    text-align: center;


}

footer {
    width: 100%;
    height: 415px;
    background-color: #0076FF;
    display: block;
    text-align: center;
    position: running(footer);
}


#panel,
#flip {
    color: #FFAFE3;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    z-index: 100;
}

#panel {
    display: none;
}

.expandable {
    background: #0076FF;
    overflow: hidden;
    color: #000;
    line-height: 50px;

    transition: all .5s ease-in-out;
    height: 0;
}

.expandable:target {
    height: 14em;
}



.form {
    font-family: 'Montserrat', sans-serif;
    max-width: 300px;
    margin: 10px auto;
    padding: 0.75em;
    background: #FFAFE3;
    border-radius: 2%;
}

.form h1 {
    background: #0076FF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form textarea,
.form select {
    -webkit-transition: all 0.30s ease-in-out;
    outline: none;
    -webkit-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 2%;
    border: 1px solid #fff;
    border-radius: 2%;
    padding: 3%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form textarea:focus,
.form select:focus {
    box-shadow: 0 0 5px #CC0085;
    padding: 3%;
    border: 1px solid #CC0085;
}

.form input[type="submit"],
.form input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 1%;
    background: #0076FF;
    border-bottom: 2px solid #0076FF;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover {
    background: #0076FF;
}

#sketch-holder {
    display: block;
    margin-top: 20px;
}

.portfolio {
    position: relative;

}


.video-js {
    width: 100%;
    max-width: 904px;
    height: 100%;
    max-height: 508px;
    margin-top: -100px;
    position: relative;
    margin-left: 200px;
    margin-right: 230px;
    border-radius: 2%;
    text-align: center;

}


.vjs-icon-placeholder::before {
    display: none;
}

.video-js .vjs-big-play-button {
    display: none;
}

@media screen and (max-width: 768px) .slider1,
.slider2,
.slider3,
#defaultCanvas0,
#sketch-holder {
    display: none;

    .container2 h2 {
        display: block;
    }

}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}