html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

.head-container {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    padding-right: 50px;
    padding-left: 50px;
}

#wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1088px;
    margin-top: -100px;
    padding-right: 50px;
    padding-left: 50px;
    background: white;
}

nav {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.logo {
    position: relative;
    top: 22px;
    left: 20px;
    height: 80px;
    width: 56px;
    float: left;
    font-size: 20px;
    background: url("img/logo@2x.png");
    background-repeat: no-repeat;

}

nav ul {
    list-style: none;
    float: right;
    display: flex;

}

nav ul li {
    list-style: none;
    float: left;
    margin-left: 6vw;
    margin-right: 20px;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 100px;
    color: #1D00FF;
    text-decoration: none;
    text-transform: uppercase;
}

.hero {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(29, 0, 255, 0.8), rgb(29, 0, 255, 0.8)), url(../img/daria-nepriakhina-736026-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-inner {
    width: 1088px;
    margin: 0 auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin: 0 auto;
    color: white;

}

h1,
h2 span {
    display: block;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.75em;
    color: #1D00FF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1D00FF;
}

p {
    font-family: "Montserrat Medium", sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: white;
}


.asci {
    margin-right: 10px;
}

.ui-accordio .hero p {
    padding-top: 30px;
}

.paddingTop {
    padding-top: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    margin: 2em 0;
    border-radius: 15px;
}

.niet-btn1 {
    border-radius: 34px;
    float: right;
    color: #CC0085;
    background-color: #FFAFE3;
    width: 114px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
}

.niet-btn-w {
    border-radius: 34px;
    float: right;
    color: #1D00FF;
    background-color: #D1E7FF;
    width: 114px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.downloads {
    border: none;
    float: right;
    margin-top: -1%;
    margin-right: 10px;
}

#accordion {
    padding-top: 40px;
    width: 100%;
    margin: 0 auto;
}

.ui-accordion-header {
    color: #4B4B4B;
    border: 1px solid #4B4B4B;
    padding: 20px 20px;

}

.ui-accordion-header-active,
.ui-state-hover {
    color: #1D00FF !important;
    border: 1px solid;
    border-color: #1D00FF !important;
}

.ui-accordion-header-active span {
    transform: rotate(90deg);
    display: inline-block;
}

.ui-state-hover {
    color: #1D00FF;
    border: 1px solid #1D00FF;
}

.player-btn {
    height: 5vw;
    width: 5vw;
    font-size: 1.5vw;
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #1D00FF;
}

.player-btn:hover {
    background: bisque;
}

#rewind {
    height: 4vw;
    width: 4vw;
    font-size: 1.25vw;
    background: white;
    border-radius: 50%;
     border: none;
    text-align: center;
    line-height: 4vw;
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -44%);
    background-color: white;
    color: #1D00FF;
}

#myBtn2 {
    border: none;
    height: 4vw;
    width: 4vw;
  font-size: 2vw;
    border-radius: 50%;
    text-align: center;
    line-height: 3vw;
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -56%);
    background-color: #BBFFB2;
    color: #119100;
}

#myBtn {
    display: none;
    border: none;
    border-radius: 34px;
    color: #119100;
    font-size: 2em;
    background-color: #BBFFB2;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    padding-top: 100px;
    /* Location of the box */
    left: 50px;
    top: 175px;
    width: 90%;
    /* Full width */
    height: 445px;
    /* Full height */
    /*overflow: auto; */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    z-index: 2;
}


/* Modal Content */
.modal-content {
    background-color: #BBFFB2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 20vw;
}

.modal-content p {
    font-size: 2em;
    text-align: center;
    line-height: 7em;
    color: #119100;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#support {
    margin-top: 100px;
    margin-left: 7vw;
}

.container {
    width: 100%;
    height: 500px;
    padding-top: 75px;
    margin: 0 auto;
}

.rect {
    width: 50%;
    height: 50%;
    float: left;

}

.rect h2 {
    padding-top: 20px;
    color: #000000;
    font-size: 1.75em;
}

.profiel {
    width: 150px;
    height: 100%;
    float: left;
    margin-left: 50px;
    margin-right: 20px;
}

.rect p {
    color: #EBEBEB;
}

.profiel img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
}

.uitdaging {
    width: 100%;
    height: 450px;
    background: linear-gradient(to right, transparent, #CC0085), url("img/nicole-wolf-1339717-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.uitdaging h2,
.uitdaging p {
    color: white;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50px;
}

.uitdaging .btn {
    background: #1D00FF;
    color: #FFAFE3;
    font-family: "Montserrat Medium", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    position: relative;
    left: 45%;
    top: 50px;
}

footer {
    width: 100%;
    height: 126px;
    background-color: black;
}



footer ul {
    float: right;
    width: 60px;
    height: 34px;
    margin-top: 55px;
    margin-left: 55px;
    margin-right: 55px;
    cursor: pointer;
    color: white;
    background-color: white;
    border-radius: 34px;

}



footer ul.active li {
    transform: translateX(30px);
}


footer ul li span {
    display: block;
    height: 26px;
    width: 26px;
    margin: 3px;

}

footer ul li span:nth-child(1) {
    background: #EBEBEB;
    border-radius: 50%;
    color: white;
}


footer p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    float: right;
    padding-top: 63px;
}

.dark {
    background: #000;
    color: white;
}

.dark #wrapper {
    background-color: #000;
    color: white;
}

.dark h2,
.dark h3,
.dark .ui-accordion-header,
.dark nav a {
    color: white;
}

.dark .ui-accordion-header {
    border-color: white;
}

.dark .btn {
    background-color: white;
    color: #000;
}

.dark .logo {
    background: url("img/logo@2xwhite.png");
    background-repeat: no-repeat;
}


.vjs-icon-placeholder::before {
    display: none;
}

.video-js {
    width: 100%;
    height: 100%;
}

.video-js .vjs-big-play-button {
    display: none;
}


@media only screen and (max-width: 990px) {
    .thumb-cont {
        max-width: 660px;
    }
}

@media only screen and (max-width: 860px) {
    .rect .btn {
        display: none;
    }

    .rect p {
        display: none;
    }
}


@media only screen and (max-width: 800px) {
    .rect {
        width: 50%;
        margin: 0;
        text-align: center;
    }

    .profiel {
        margin: 0;
        height: 10%;
    }

    .rect .btn {
        display: none;
    }

    .rect p {
        display: none;
    }

    .rect h2 {
        display: none;
    }

    .downloads {
        display: none;
    }

    .niet-btn-w {
        display: none;
    }

    .niet-btn1 {
        display: none;
    }
}

@media only screen and (max-width: 660px) {
    .thumb-cont {
        max-width: 100%;
    }

    .thumb-cont a {
        width: 100%;
        margin: 0 0 10px;
    }
